.PanelNavigation {
  --panelNavigationArrowWidth: 1.5rem;
  --panelNavigationArrowBackground: var(--greyLight50);
  --panelNavigationArrowDisabledBackground: var(--greyLight10);
  --panelNavigationMarginBottom: 1rem;

  position: relative;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: var(--panelNavigationMarginBottom);
  ::-webkit-scrollbar {
    display: none; /* Safari */
  }

  &__track {
    display: flex;
    background-color: var(--panelBackgroundColor);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-right: 1px solid var(--panelBorderColor);
    border-left: 1px solid var(--panelBorderColor);

    &--scrollable {
      border-right: none;
      border-left: none;
      margin: 0 var(--panelNavigationArrowWidth);
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: var(--panelNavigationArrowBackground);
    cursor: pointer;
    width: var(--panelNavigationArrowWidth);
    border: 1px solid var(--panelBorderColor);
    transition: background 300ms;
    box-sizing: border-box;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &--disabled {
      cursor: default;
      background: var(--panelNavigationArrowDisabledBackground);

      svg {
        opacity: 0.2;
      }
    }

    &--hidden {
      display: none;
    }
  }

  &__spaceBetween {
    width: var(--panelCarouselSpaceBetween);
    z-index: -1;
  }
}
