.PanelNavigation {
  --panelNavigationArrowWidthFallback: 1.5rem;
  --panelNavigationArrowBackgroundFallback: var(--greyLight50);
  --panelNavigationArrowBackgroundDisabledFallback: var(--greyLight10);

  position: relative;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  ::-webkit-scrollbar {
    display: none;
  }

  &__track {
    display: flex;
    background-color: var(
      --panelBackgroundColor,
      var(--panelBackgroundColorFallback)
    );
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-right: 1px solid
      var(--panelBorderColor, var(--panelBorderColorFallback));
    border-left: 1px solid
      var(--panelBorderColor, var(--panelBorderColorFallback));

    &--scrollable {
      border-right: none;
      border-left: none;
      margin: 0
        var(
          --panelNavigationArrowWidth,
          var(--panelNavigationArrowWidthFallback)
        );
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: var(
      --panelNavigationArrowBackground,
      var(--panelNavigationArrowBackgroundFallback)
    );
    cursor: pointer;
    width: var(
      --panelNavigationArrowWidth,
      var(--panelNavigationArrowWidthFallback)
    );
    border: 1px solid var(--panelBorderColor, var(--panelBorderColorFallback));
    transition: background 300ms;
    box-sizing: border-box;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &--disabled {
      cursor: default;
      background: var(
        --panelNavigationArrowBackgroundDisabled,
        var(--panelNavigationArrowBackgroundDisabledFallback)
      );

      svg {
        opacity: 0.2;
      }
    }

    &--hidden {
      display: none;
    }
  }
}
