.Carousel {
  --carouselSlidePaddingRight: 1.5rem;
  --carouselSlideOutOfFocusOpacity: 0.1;
  --carouselAnimationDuration: 500ms;

  width: 100%;
  position: relative;
  overflow-x: hidden;

  &__arrow {
    flex: 1;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &--left {
      justify-content: flex-start;
      left: 0;
    }

    &--right {
      justify-content: flex-end;
      right: 0;
    }
  }
}
