.PanelNavigationItem {
  --PanelNavigationItemMargin: 0;
  --panelNavigationItemPadding: 2rem 1.5rem;
  --panelNavigationItemActiveBorder: 1px solid var(--black);

  flex: 1;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  scroll-snap-align: start;
  padding: var(--panelNavigationItemPadding);
  margin: var(--panelNavigationItemMargin);
  border: 1px solid var(--panelBorderColor);
  border-left: none;
  box-sizing: border-box;

  &:last-of-type {
    border-right: none;
  }

  &--disabled {
    cursor: default;
  }

  &--active {
    border: var(--panelNavigationItemActiveBorder);

    &:last-of-type {
      border-right: var(--panelNavigationItemActiveBorder);
    }
  }

  // &__verticalLineEraser {
  //   &--top {
  //   }
  //   &--bottom {
  //   }
  // }
}
