.PanelNavigationItem {
  --panelNavigationItemMarginFallback: 0;
  --panelNavigationItemPaddingFallback: 2rem 1.5rem;
  --panelNavigationItemActiveBorderColorFallback: var(--black);

  flex: 1;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  scroll-snap-align: start;

  padding: var(
    --panelNavigationItemPadding,
    var(--panelNavigationItemPaddingFallback)
  );

  margin: var(
    --panelNavigationItemMargin,
    var(--panelNavigationItemMarginFallback)
  );

  border: 1px solid var(--panelBorderColor, var(--panelBorderColorFallback));
  border-left: none;
  box-sizing: border-box;

  &:last-of-type {
    border-right: none;
  }

  &--disabled {
    cursor: default;
  }

  &--active {
    border: 1px solid
      var(
        --panelNavigationItemActiveBorderColor,
        var(--panelNavigationItemActiveBorderColorFallback)
      );

    &:last-of-type {
      border-right: 1px solid
        var(
          --panelNavigationItemActiveBorderColor,
          var(--panelNavigationItemActiveBorderColorFallback)
        );
    }
  }

  // &__verticalLineEraser {
  //   &--top {
  //   }
  //   &--bottom {
  //   }
  // }
}
