.CarouselSlide {
  transition: opacity 500ms;

  &:not(:last-of-type) {
    padding-right: var(--carouselSlidePaddingRight);
  }

  &--outOfFocus {
    opacity: var(--carouselSlideOutOfFocusOpacity);
  }
}
